<p>The book you have advertised for sale through UMSU Book Coop will expire in a month. If you wish to keep advertising on the UMSU catalogue, please go <%= link_to 'here', book_url(@book) %> and extend its expiry date.</p>
