<p>Just a reminder that your listing on the UMSU Book Co-op Catalogue expires in one month. You can login <%= link_to 'here', book_url(@book) %> to extend the date, lower your price or delete the book if the book is no longer for sale.</p>
<p>If you do nothing, the book will automatically be deleted in a month’s time.</p>
