<%= table_for @books, html: { class: 'datatable table table-hover table-bordered' } do-%>
  <% columns :id, :title, :author, :publisher, :edition, :category, :isbn, :price, :in_shop %>
  <% if can? :destroy, Book %>
    <% column :delete_button, title: '' %>
  <% end %>
<% end %>
<br/>
<h4>How It Works:</h4>
<p>You can list either books you want to buy, or books you have to sell. If selling online, you do not need to bring the book in to the Co-op. If a buyer expresses interest, we will send the seller an automated email with the buyer’s contact details. The seller can then contact the buyer and make an arrangement convenient to both to collect the book and payment. Prices may be negotiated between buyer and seller.</p>
<p>If I’m interested in buying a book, sellers can contact me:</p>
<p>Sellers are welcome to list the same book for sale on other sites.</p>
<p>If you sell your book or dispose of it (e.g. lose it or give it away) within 6 months, it is your responsibility to delete it from the catalogue. We will send a reminder 5 months from the date listed asking you to either delete or extend your listing. The seller and not the Co-op is responsible for any disappointment arising from outdated listings.</p>
