<p>A potential buyer is interested in your book!</p>
<% if @contact.message %>
  <p>They included the following message to you:</p>
  <p><%= @contact.message %></p>
<% end %>
<p>Please contact them directly on <%= @contact.user.andand.email || @contact.contact_details || @contact.user.contact_details %> to make arrangements that suit you both for collection and payment.</p>
<p>Don’t forget to login <%= link_to 'here', book_url(@contact.book) %> and delete the book when it is sold.</p>
<p>Kind regards,</p>
<p>UMSU Book Coop</p>
